#blockBtn {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}
.block {
    display: inline-block;
}
.littleBlock {
    margin: -1px;
}
img {
    position: absolute;
    text-align: center;
    z-index: -1;
}




