#blockBtn {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}
.newBtn {
    margin-left: -4px;
}
img {
    position: absolute;
    text-align: center;
    z-index: -1;
}




